* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto";
  color: #212806;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.noscroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

header {
  background-color: #fcf8f3;
  height: 68.375px;
}
header p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 18px;
}
header .container {
  display: flex;
  align-items: center;
  padding: 11px 0 0 29px;
}
header .flex {
  display: flex;
  align-items: center;
}
header .main__block {
  justify-content: start;
  max-width: 1171.859px;
  width: 100%;
  padding-left: 43px;
}
header .gap {
  gap: 20px;
}
header .shop {
  width: 95px;
}
header .about {
  width: 105px;
}
header .about p {
  font-size: 1.7rem;
}
header .sustainability p {
  font-size: 1.8rem;
}
header .images {
  gap: 29px;
}
header .burger {
  display: none;
  width: 44px;
  height: 44px;
  z-index: 2;
  transition: 500ms all;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #665f55;
  border-radius: 50%;
}
header .burger.burgeroff .burger_line:first-child {
  transform: rotate(-45deg) translate(-3px, 3px);
}
header .burger.burgeroff .burger_line:last-child {
  transform: rotate(45deg) translate(-3px, -3px);
}
header .burger .burger_line {
  width: 16px;
  height: 2px;
  margin: 3px 0;
  background-color: #403f3d;
  transition: 500ms all;
}
header .burger_menu {
  background: #fff;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 80px 40px 20px 40px;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  transition: 500ms all;
  display: flex;
  z-index: 1;
}
header .burger_menu.opened {
  left: 0;
}
header .burger_menu .burger_menu_links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
header .burger_menu .burger_menu_links ul li {
  list-style: none;
}
header .burger_menu .burger_menu_links ul .nav_items_text {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 125%;
  text-decoration: none;
}

.shop-section p {
  color: #212806;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.shop-section h1 {
  color: #212806;
  font-size: 6.5rem;
  font-weight: 400;
  line-height: 77.76px;
  max-width: 583.188px;
  width: 100%;
  margin-bottom: 5%;
}
.shop-section .flex {
  display: flex;
  align-items: center;
  gap: 26px;
}
.shop-section .shop__button {
  border-radius: 40px;
  border: 1px solid #212806;
  background: #212806;
  width: 180px;
  padding: 0px 28px;
  height: 47px;
}
.shop-section .shop__button a {
  color: #fcf8f3;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 25.2px;
}
.shop-section .container {
  padding-top: 23%;
  padding-left: 5%;
  height: 800px;
  background: url(../assets/png//shopBackground.png) 0px -70px no-repeat;
  background-size: contain;
}

.sustainability {
  margin-top: -6px;
}
.sustainability .container {
  padding: 0px 0 0 221px;
}
.sustainability .feedback {
  background-color: #f5eee6;
  max-width: 1008px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 0;
  margin-bottom: 81px;
}
.sustainability .feedback p {
  color: rgba(33, 40, 6, 0.8);
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 1.3px;
}
.sustainability .feedback .stars {
  display: flex;
}
.sustainability h2 {
  color: #212806;
  text-align: center;
  font-size: 5.4rem;
  font-weight: 400;
  line-height: 64.8px;
}
.sustainability .block {
  max-width: 893px;
  padding-left: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 63px;
}
.sustainability .link {
  width: 201px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 40px;
  margin-left: 50px;
  border: 1px solid #212806;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
}
.sustainability .link a {
  color: #212806;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 25.2px;
}

.best__sellers {
  padding-bottom: 171px;
}
.best__sellers .description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.best__sellers h3 {
  color: #212806;
  padding-top: 62px;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 51.84px;
  letter-spacing: 2px;
}
.best__sellers p {
  padding-top: 15px;
  color: rgba(33, 40, 6, 0.8);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
}
.best__sellers .link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  gap: 18px;
  border-radius: 40px;
  border: 1px solid #212806;
  background: #212806;
  width: 229px;
  height: 47px;
  flex-shrink: 0;
}
.best__sellers .link p {
  color: #fcf8f3;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px;
  padding-top: 0px;
}
.best__sellers .arrows {
  display: flex;
  gap: 15px;
  padding-top: 50px;
}
.best__sellers .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding-top: 233px;
  padding-left: 99px;
}
.best__sellers .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.best__sellers .card .subtitle {
  color: #212806;
  padding-top: 25px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 14.4px;
  text-transform: uppercase;
}
.best__sellers .card .title {
  color: #212806;
  padding-top: 8px;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 35.28px;
}
.best__sellers .card .price {
  color: #212806;
  padding-top: 5px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28.8px;
}

.adv {
  background-color: #f5eee6;
  display: flex;
  gap: 290px;
}
.adv .stars {
  padding-top: 110px;
}
.adv .block {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.adv .block h2 {
  padding-top: 45px;
  color: #212806;
  text-align: center;
  font-size: 4.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 51.84px;
  max-width: 419px;
  width: 100%;
  text-align: center;
}
.adv .block p {
  padding-top: 62px;
  color: #212806;
  text-align: center;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 14.4px;
  text-align: center;
  text-transform: uppercase;
}
.adv .block .options {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 6px;
}
.adv .block .options .square:first-child {
  background-color: #424928;
}
.adv .block .options .square {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  border: 1px solid #424928;
}

.transperancy {
  padding-top: 125px;
}
.transperancy h2 {
  color: #212806;
  text-align: center;
  font-size: 53px;
  font-style: normal;
  font-weight: 400;
  line-height: 64.8px;
}
.transperancy .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 80px;
}
.transperancy .flex__container {
  padding-top: 70px;
  margin-bottom: 90px;
  display: flex;
  gap: 33px;
}
.transperancy .flex__container .flex__block:nth-child(1) {
  padding: 0 36px;
}
.transperancy .flex__container .flex__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.transperancy .flex__container .flex__block .description {
  color: #212806;
  padding-top: 14px;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 35.28px;
}
.transperancy .shop__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 40px;
  border: 1px solid #212806;
  background: #212806;
  width: 180px;
  padding: 0px 28px;
  height: 47px;
}
.transperancy .shop__button a {
  color: #fcf8f3;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 25.2px;
}/*# sourceMappingURL=style.css.map */