$base-font-color: #212806;
$link-color: #f46a35;
$base-font-size: 10px;
$base-font-family: "Roboto";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $base-font-size;
    font-family: $base-font-family;
    color: $base-font-color;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.noscroll {
    overflow: hidden;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

header {
    background-color: #fcf8f3;
    height: 68.375px;
    p {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 18px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px 0 0 29px;
    }
    .flex {
        display: flex;
        align-items: center;
    }
    .main__block {
        justify-content: start;
        max-width: 1171.859px;
        width: 100%;
        padding-left: 43px;
    }
    .gap {
        gap: 20px;
    }
    .shop {
        width: 95px;
    }
    .about {
        width: 105px;
        p {
            font-size: 1.7rem;
        }
    }
    .sustainability {
        p {
            font-size: 1.8rem;
        }
    }
    .images {
        gap: 15px;
    }
    .authorization {
        display: flex;
        align-items: center;
        gap: 15px;
        span {
            font-size: 1.7rem;
            cursor: pointer;
            width: 50px;
        }
    }
    .changeTheme {
        cursor: pointer;
        transition: 300ms all;
    }
    .changeLang {
        cursor: pointer;
        transition: 300ms all;
        font-size: 1.5rem;
    }
    .right {
        display: flex;
        align-items: center;
        gap: 15px;
        .contact {
            height: 36px;
            padding: 0 30px;
            border-radius: 10px;
            border: 1px solid $link-color;
            background: $link-color;
            color: #fff;
            font-size: 1.4rem;
            transition: 300ms all;
        }
        .burger {
            cursor: pointer;
            display: none;
            width: 44px;
            height: 44px;
            z-index: 2;
            transition: 500ms all;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid #665f55;
            border-radius: 50%;
            &.burgeroff {
                .burger_line:first-child {
                    transform: rotate(-45deg) translate(-3px, 3px);
                }
                .burger_line:last-child {
                    transform: rotate(45deg) translate(-3px, -3px);
                }
            }
            .burger_line {
                width: 16px;
                height: 2px;
                margin: 3px 0;
                background-color: #403f3d;
                transition: 500ms all;
            }
        }
    }
    .burger_menu {
        background: #fff;
        left: 100%;
        top: 0;
        width: 100%;
        height: 100vh;
        position: fixed;
        padding: 80px 40px 20px 40px;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        transition: 500ms all;
        display: flex;
        z-index: 1;
        &.opened {
            left: 0;
        }
        .burger_menu_links {
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;
                li {
                    list-style: none;
                }
                .nav_items_text {
                    cursor: pointer;
                    font-size: 3.2rem;
                    font-weight: 600;
                    line-height: 125%;
                    text-decoration: none;
                }
            }
        }
    }
}

.shop-section {
    p {
        color: $base-font-color;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
    }
    h1 {
        color: $base-font-color;
        font-size: 6.5rem;
        font-weight: 400;
        line-height: 77.76px;
        max-width: 583.188px;
        width: 100%;
        margin-bottom: 5%;
    }
    .flex {
        display: flex;
        align-items: center;
        gap: 26px;
    }
    .shop__button {
        border-radius: 40px;
        border: 1px solid #212806;
        background: #212806;
        width: 180px;
        padding: 0px 28px;
        height: 47px;
        a {
            color: #fcf8f3;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 25.2px;
        }
    }
    .container {
        padding-top: 23%;
        padding-left: 5%;
        height: 800px;
        background: url(../assets/png//shopBackground.png) 0px -70px no-repeat;
        background-size: contain;
    }
}

.sustainability {
    margin-top: -6px;
    .container {
        padding: 0px 0 0 221px;
    }
    .feedback {
        background-color: #f5eee6;
        max-width: 1008px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 20px 0;
        margin-bottom: 81px;
        p {
            color: rgba(33, 40, 6, 0.8);
            font-size: 1.9rem;
            font-weight: 400;
            line-height: 38px;
            letter-spacing: 1.3px;
        }
        .stars {
            display: flex;
        }
    }
    h2 {
        color: $base-font-color;
        text-align: center;
        font-size: 5.4rem;
        font-weight: 400;
        line-height: 64.8px;
    }
    .block {
        max-width: 893px;
        padding-left: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        gap: 63px;
    }
    .link {
        width: 201px;
        height: 47px;
        flex-shrink: 0;
        border-radius: 40px;
        margin-left: 50px;
        border: 1px solid #212806;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 21px;
        a {
            color: $base-font-color;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 25.2px;
        }
    }
}

.best__sellers {
    padding-bottom: 171px;
    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h3 {
        color: $base-font-color;
        padding-top: 62px;
        font-size: 4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 51.84px;
        letter-spacing: 2px;
    }
    p {
        padding-top: 15px;
        color: rgba(33, 40, 6, 0.8);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.8px;
    }
    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 90px;
        gap: 18px;
        border-radius: 40px;
        border: 1px solid #212806;
        background: #212806;
        width: 229px;
        height: 47px;
        flex-shrink: 0;
        p {
            color: #fcf8f3;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 25.2px;
            padding-top: 0px;
        }
    }
    .arrows {
        display: flex;
        gap: 15px;
        padding-top: 50px;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        padding-top: 233px;
        padding-left: 99px;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        .subtitle {
            color: $base-font-color;
            padding-top: 25px;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 14.4px;
            text-transform: uppercase;
        }
        .title {
            color: $base-font-color;
            padding-top: 8px;
            text-align: center;
            font-size: 2.3rem;
            font-weight: 400;
            line-height: 35.28px;
        }
        .price {
            color: $base-font-color;
            padding-top: 5px;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 28.8px;
        }
    }
}

.adv {
    background-color: #f5eee6;
    display: flex;
    gap: 290px;
    .stars {
        padding-top: 110px;
    }
    .block {
        display: flex;
        flex-direction: column;
        text-align: center;
        h2 {
            padding-top: 45px;
            color: $base-font-color;
            text-align: center;
            font-size: 4.3rem;
            font-style: normal;
            font-weight: 400;
            line-height: 51.84px;
            max-width: 419px;
            width: 100%;
            text-align: center;
        }
        p {
            padding-top: 62px;
            color: $base-font-color;
            text-align: center;
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 400;
            line-height: 14.4px;
            text-align: center;
            text-transform: uppercase;
        }
        .options {
            padding-top: 30px;
            display: flex;
            justify-content: center;
            gap: 6px;
            .square:first-child {
                background-color: #424928;
            }
            .square {
                width: 12px;
                height: 12px;
                flex-shrink: 0;
                border: 1px solid #424928;
            }
        }
    }
}

.transperancy {
    padding-top: 125px;
    h2 {
        color: $base-font-color;
        text-align: center;
        font-size: 53px;
        font-style: normal;
        font-weight: 400;
        line-height: 64.8px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 80px;
    }
    .flex__container {
        padding-top: 70px;
        margin-bottom: 90px;
        display: flex;
        gap: 33px;
        .flex__block:nth-child(1) {
            padding: 0 36px;
        }
        .flex__block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .description {
                color: $base-font-color;
                padding-top: 14px;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: 35.28px;
            }
        }
    }
    .shop__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 40px;
        border: 1px solid #212806;
        background: #212806;
        width: 180px;
        padding: 0px 28px;
        height: 47px;
        a {
            color: #fcf8f3;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 25.2px;
        }
    }
}

.birthday-card {
    padding-top: 274px;
    .container {
        display: flex;
        gap: 85px;
        padding-left: 145px;
    }
    p {
        color: $base-font-color;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 14.4px;
        text-transform: uppercase;
        width: 74px;
    }
    h3 {
        color: $base-font-color;
        font-size: 4.1rem;
        width: 484px;
        font-style: normal;
        font-weight: 400;
        line-height: 51.84px;
    }
    .description {
        span {
            color: rgba(33, 40, 6, 0.8);
            font-size: 1.6rem;
            font-weight: 700;
        }
        padding-top: 35px;
        text-transform: none;
        font-weight: 400;
        color: rgba(33, 40, 6, 0.8);
        font-size: 1.6rem;
        line-height: 28.8px;
        width: 460px;
    }
    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 220px;
        width: 192px;
        height: 47px;
        flex-shrink: 0;
        border-radius: 40px;
        border: 1px solid #212806;
        p {
            text-transform: none;
            color: $base-font-color;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 25.2px;
            width: 86px;
        }
    }
}

.explore {
    padding-top: 220px;
    .container {
        padding: 0 72px;
    }
    h3 {
        color: $base-font-color;
        font-size: 52px;
        font-weight: 400;
        line-height: 64.8px;
        width: 481px;
    }
    p {
        padding-top: 15px;
        color: $base-font-color;
        text-align: center;
        font-size: 2.3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 35.28px;
    }
    .flex__container {
        padding-top: 70px;
        display: flex;
        gap: 15px;
        .flex__block {
            position: relative;
            .background {
                width: 422px;
                height: 70px;
                flex-shrink: 0;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}

.hi {
    .container {
        padding: 0px 72px;
    }
    h3 {
        padding-top: 260px;
        font-size: 4rem;
    }
    .title {
        color: $base-font-color;
        text-align: center;
        font-size: 3.9rem;
        font-style: normal;
        font-weight: 700;
        line-height: 51.84px;
    }
    .flex__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.map {
    display: none;
}

footer {
    margin-top: 129px;
    padding-top: 75px;
    background-color: #212806;
    p {
        color: rgba(252, 248, 243, 0.8);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 25.2px;
    }
    a {
        color: rgba(252, 248, 243, 0.8);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 25.2px;
    }
    .container {
        padding: 0 26px;
    }
    // .line {
    //     // width: 318.594px;
    //     height: 1px;
    //     margin-bottom: 22px;
    // }
    .title {
        margin-bottom: 27px;
        padding-bottom: 22px;
        border-bottom: 1px solid rgba(252, 248, 243, 0.8);
        width: 100%;
    }
    .links {
        display: flex;
        justify-content: space-between;
        a {
            color: rgba(252, 248, 243, 0.8);
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 25.2px;
        }
        .links__social {
            display: flex;
            gap: 40px;
        }
    }
    .flex__container {
        padding-top: 55px;
        display: flex;
        gap: 36px;
        margin-bottom: 100px;
        .flex__block {
            max-width: 318.594px;
            width: 100%;
            ul {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        div {
            display: flex;
            gap: 36px;
            margin-left: -100px;
        }
    }
}

@media (max-width: 1435px) {
    .flex__block {
        .img {
            img {
                width: 100%;
            }
        }
    }
    .explore .flex__container .flex__block .background {
        width: 100%;
    }
    .card {
        img {
            max-width: 328px;
            width: 100%;
        }
    }
    .birthday-card {
        padding-top: 50px;
        margin: 0 auto;

        .container {
            justify-content: center;
        }
        .link {
            margin-top: 20px;
        }
    }
    .birthday__img img {
        display: none;
    }
}

@media (max-width: 1330px) {
    .shop-section {
        height: 100%;
    }
    .sustainability {
        .container {
            padding: 0px;
        }
    }
    .transperancy {
        padding-top: 75px;
        padding-bottom: 65px;
        .container {
            display: grid;
        }
        h2 {
            display: none;
        }
        .flex__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-top: 0px;
            gap: 60px;
            margin-bottom: 23px;
            .flex__block:nth-child(1) {
                padding: 0px;
            }
            .flex__block {
                .description {
                    width: 250px;
                }
            }
        }
        .shop__button {
            margin-left: 213px;
        }
    }
    .adv {
        background-color: #f5eee6;
        justify-content: center;
        align-items: center;
        gap: 0;
        img {
            width: 0;
        }
        .stars {
            padding-top: 45px;
        }
        .block {
            h2 {
                font-size: 3rem;
                padding-top: 16px;
            }
            p {
                padding-top: 110px;
            }
            .options {
                padding-top: 20px;
                padding-bottom: 24px;
            }
        }
    }

    .hi {
        display: none;
    }
}

@media (max-width: 800px) {
    header {
        .container {
            justify-content: space-between;
        }
        .main__block {
            display: none;
        }
        .images {
            display: none;
        }
        .authorization {
            display: none;
        }
        .right {
            gap: 22px;
            .burger {
                display: flex;
            }
        }
    }
    .shop-section {
        .container {
            height: 555px;
            padding-top: 18%;
            margin-bottom: 110px;
            background: url(../assets/png//shopBackgroundTablet.png) 0px 00px no-repeat;
            h1 {
                font-size: 5.3rem;
                width: 450px;
                line-height: 90px;
            }
        }
    }

    .sustainability {
        .container {
            padding-left: 44px;
        }
        .feedback {
            max-width: 688px;
        }
        h2 {
            margin-left: -110px;
            padding-top: 20px;
            max-width: 595px;
            font-size: 4.2rem;
        }
        .link {
            margin-top: -45px;
            margin-left: 0px;
            height: 66px;
            margin-left: -96px;
            width: 230px;
            a {
                font-size: 2rem;
            }
        }
    }

    .best__sellers {
        padding-bottom: 44px;
        .description {
            display: none;
        }
        .container {
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            padding-top: 50px;
            gap: 57px;
        }
        .card {
            .subtitle {
                padding-top: 10px;
            }
        }
    }

    .adv {
        background-color: #f5eee6;
        justify-content: center;
        align-items: center;
        gap: 0;
        img {
            width: 0;
        }
        .stars {
            padding-top: 45px;
        }
        .block {
            h2 {
                font-size: 3rem;
                padding-top: 16px;
            }
            p {
                padding-top: 110px;
            }
            .options {
                padding-top: 20px;
                padding-bottom: 24px;
            }
        }
    }

    .transperancy {
        padding-top: 75px;
        padding-bottom: 65px;
        .container {
            display: grid;
        }
        h2 {
            display: none;
        }
        .flex__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-top: 0px;
            gap: 60px;
            margin-bottom: 23px;
            .flex__block:nth-child(1) {
                padding: 0px;
            }
            .flex__block {
                .description {
                    width: 250px;
                }
            }
        }
        .shop__button {
            margin-left: 213px;
        }
    }

    .birthday-card {
        display: none;
    }

    .explore {
        background-color: #f5eee6;
        padding-top: 0px;
        padding-bottom: 101px;
        .container {
            h3 {
                display: none;
            }
        }
        .flex__container {
            padding-top: 28px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 63px;
            .flex__block {
                .img {
                    width: 337px;
                    height: 520px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .background {
                    display: none;
                }
            }
        }
    }

    .hi {
        display: none;
    }

    .map {
        display: block;
        .container {
            padding-top: 20px;
            padding-left: 86px;
            padding-right: 66px;
            div {
                iframe {
                    height: 600px;
                }
            }
        }
    }

    footer {
        margin-top: 100px;
        .bottom {
            display: none;
        }
        .flex__container {
            display: flex;
            flex-wrap: wrap;
            padding-left: 24px;
            padding-top: 21px;
            padding-bottom: 26px;
            margin-bottom: 0;
        }
        .title {
            margin-bottom: 22px;
        }
    }
}

@media (max-width: 757px) {
    .sustainability {
        .container {
            padding-left: 44px;
        }
        .feedback {
            width: 100%;
        }
    }
    .transperancy .flex__container .flex__block .description {
        max-width: 250px;
        width: 100%;
    }
    .transperancy {
        .flex__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .shop__button {
            margin: 0 auto;
        }
    }
    .shop-section .container h1 {
        font-size: 4rem;
        max-width: 300px;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .sustainability {
        .feedback {
            display: none;
        }
    }
    .explore {
        padding-bottom: 60px;
    }
    .map .container div iframe {
        height: 300px;
        margin: 0 auto;
    }
    .explore {
        display: none;
    }
    .adv .block h2 {
        font-size: 2rem;
    }
    .shop-section .container {
        padding-left: 20px;
    }
    footer {
        .links {
            display: none;
        }
    }
}

@media (max-width: 320px) {
    .shop-section .container h1 {
        font-size: 3rem;
        margin-bottom: 0;
    }
    .shop-section .shop__button {
        height: 65px;
    }
    .shop-section .container {
        margin-bottom: 19px;
        height: 400px;
    }
    .transperancy .container {
        padding-left: 56px;
    }
    .best__sellers {
        .container {
            padding-top: 0px;
        }
    }
    .shop-section .container h1 {
        font-size: 3rem;
        line-height: 65px;
    }
    .sustainability h2 {
        font-size: 2.7rem;
        margin: 0;
    }
    .card img {
        height: 302px;
    }
    .adv .block h2 {
        font-size: 1.7rem;
    }
    .sustainability {
        margin-top: 0;
        .link {
            margin-top: -33px;
            margin-bottom: 10px;
            margin-left: 0px;
        }
        .block {
            padding: 0;
            gap: 59px;
        }
        .container {
            padding: 0;
        }
    }
    .map {
        padding-bottom: 70px;
    }
    footer {
        padding-bottom: 80px;
        margin-top: 0;
        padding-top: 0;
    }
}
.modal_background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(64, 63, 61, 0.8);
    display: none;
    z-index: 2;
    padding: 56px;
    &.active {
        display: block;
    }
    .modal {
        background-color: antiquewhite;
        height: 100%;
        width: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 16px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        .cross {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
        .content {
            max-height: 90%;
            width: 100%;
            overflow: auto;
            form {
                margin: 0 auto;
            }
        }
    }
}

.modalRegister_Background {
    .modalRegister {
        overflow: auto;
        .form_Register {
            width: 100%;
            max-width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        .header_Registration {
            font-size: 3rem;
        }
        .inputWrapper {
            width: 100%;
        }
        input {
            width: 100%;
            padding: 5px;
            border: 1px solid #000;
            font-size: 2.5rem;
            border-bottom: 1px solid red;
            background: #f5eee6;
            &.correct {
                border-bottom: 1px solid #000;
            }
        }
        .inputPatronymic {
            border-bottom: 1px solid #000;
        }
        .container {
            display: flex;
            align-items: center;
            gap: 10px;
            .generatePassword {
                height: 100%;
                cursor: pointer;
            }
        }
        .mistakeMessage {
            width: 100%;
            font-size: 2rem;
            padding: 0 5px;
            color: #fff;
            background-color: #900;
            border-radius: 0 0 5px 5px;
        }
        .terms {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            span {
                font-size: 1.5rem;
            }
            a {
                font-size: 1.5rem;
                color: #986464;
            }
            .conditions {
                width: auto;
            }
        }
        .submitRegistration {
            width: 100%;
            font-size: 2.5rem;
            padding: 5px;
            border-radius: 10px;
            &:disabled {
                pointer-events: none;
            }
            &:enabled {
                background-color: #51adb9;
            }
        }
    }
}

.modalAuthorization_Background {
    .modalAuthorization {
        .form_Authorization {
            width: 100%;
            max-width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        .header_Authorization {
            font-size: 3rem;
        }
        .inputWrapper {
            width: 100%;
        }
        input {
            background: #f5eee6;
            width: 100%;
            padding: 5px;
            border: 1px solid #000;
            font-size: 2.5rem;
        }
        .mistakeMessage {
            width: 100%;
            font-size: 2rem;
            padding: 0 5px;
            color: #fff;
            background-color: #900;
            border-radius: 0 0 5px 5px;
        }
        .submitAuthorization {
            width: 100%;
            font-size: 2.5rem;
            padding: 5px;
            border-radius: 10px;
            &:disabled {
                pointer-events: none;
            }
            &:enabled {
                background-color: #51adb9;
            }
        }
    }
}

.modalAccount_Background {
    .modalAccount {
        .wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 40px;
        }
        .data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
        }
        .cross_account {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
        .header {
            text-align: center;
            font-size: 3rem;
        }
        .account_name,
        .account_number,
        .account_email,
        .account_password,
        span {
            font-size: 2rem;
        }
        .reset {
            padding: 10px 40px;
            font-size: 1.5rem;
            border-radius: 10px;
            background-color: #ffaaaa;
            max-width: fit-content;
        }
    }
}
.darkTheme {
    background-color: #000;
    color: #fff;
    .shop-section {
        .container {
            background: url(../assets/png/shopBackground-Photoroom.png-Photoroom.png);
        }
    }
    p,
    h1,
    h2,
    h3 {
        color: #fff;
    }
    a {
        color: #fff;
    }
    svg {
        fill: #fff;
        stroke: #fff;
    }
    header {
        background-color: #000;
        .authorization {
            span {
                color: #fff;
            }
        }
        .brex {
            img {
                background-color: #fff;
                border-radius: 5px;
            }
        }
        .navigation {
            ul {
                a {
                    color: #fff;
                }
            }
        }
        .logIn,
        .sighIn,
        .logout {
            color: #fff;
        }
        .changeLang {
            color: #fff;
        }
        .right {
            svg {
                path {
                    fill: #fff;
                }
            }
        }
        .controls {
            svg {
                path {
                    fill: #fff;
                }
            }
        }
        .burger_menu {
            background-color: #000;
            li {
                span,
                a {
                    color: #fff;
                }
            }
        }
    }
    .sustainability {
        .link {
            border-color: #fff;
            a {
                color: #fff;
            }
        }

        .feedback {
            background-color: #000;
            p {
                color: #fff;
            }
        }
    }
    .birthday-card {
        .description {
            color: #fff;
            span {
                color: #fff;
            }
        }
        .link {
            border-color: #fff;
            p {
                color: #fff;
            }
        }
    }
    .best__sellers {
        .card {
            p {
                color: #fff;
            }
        }
    }

    footer {
        background-color: #000;
    }
    .adv {
        background-color: #000;
        h2 {
            color: #fff;
        }
        p {
            color: #fff;
        }
    }
    .explore {
        background-color: #000;
        .flex__container {
            .flex__block {
                .background {
                    background-color: #000 !important;
                }
            }
        }
    }
    .transperancy {
        .flex__container {
            .flex__block {
                .description {
                    color: #fff;
                }
            }
        }
    }
}
